* {
  /* box-sizing: content-box; */ /* isi tetap, padding membesarkan tepi */
  box-sizing: border-box; /*tepi tetap, padding mengecilkan isi*/
}

.gallery {
  width: 50%;
  border: 5px solid red;
}

img {
  width: 100%;
  padding: 5px;
  border: 5px solid blue;
}
